body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 50px;
    ;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav a :hover {
    text-decoration: underline;
}

img {
    width: 150px;
    height: 180px;
    border-radius: 15px;
    border: 5px solid white;
}

h1 {
    color:darkblue;
}

h2 {
    color: darkblue
    
}

p {
    color: black
}
